{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href='{% static "\bootstrap\css\dashboard.css" %}'>
{% endblock %}




{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <div class="btn-group">
        <button class="btn-ativo" onclick="exibirGraficosAtivos()">Ativos <span id="total-ativos"></span></button>
        <button class="btn-inativo" onclick="exibirGraficosInativos()">Inativos <span id="total-inativos"></span></button>
    </div>

<div class="container-box">
    <div class="box1">
        <div class="box">
            <h1 id="aso-title">ASO Admissional</h1>
        </div>
        <div class="box-interno1" >
            <p>Existente</p>
            <p id="valorexistente">valorexistente</p>
        </div>
        <div class="box-interno2" >
            <p>Pendentes</p>
            <p id="valorpendente">valorpendente</p>
        </div>
    </div>

    <div class="box1">
        <div class="box">
            <h1>Documentos Obrigatórios</h1>
        </div>
        <div class="box-interno1" >
            <p>Existente</p>
            <p id="valorexistenteObrigatorios">valorexistente</p>
        </div>
        <div class="box-interno2" >
            <p>Pendentes</p>
            <p id="valorpendenteObrigatorios">valorpendente</p>
        </div>
    </div>

    <div class="box1">
        <div class="box">
            <h1>Cartão de ponto</h1>
        </div>
        <div class="box-interno1" >
            <p>Existente</p>
            <p id="valorexistentePonto">valorexistente</p>
        </div>
        <div class="box-interno2" >
            <p>Pendentes</p>
            <p id="valorpendentePonto">valorexistente</p>
        </div>
    </div>

</div>
<!-- Overlay para desfoque de fundo -->
<div id="overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); backdrop-filter: blur(5px); z-index: 1000;"></div>

<!-- Tabela de colaboradores -->
<div id="tabela-colaboradores" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 20px; z-index: 1001; width: 80%; max-height: 80%; overflow-y: auto; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <div style="background: #4B87B9; color: white; padding: 10px; border-top-left-radius: 8px; border-top-right-radius: 8px;">
        <span style="font-size: 1.5em;">Detalhes</span>
        
        <button onclick="fecharTabelaColaboradores()" style="float: right; background: none; border: none; color: white; font-size: 1.2em;">X</button>
    </div>
    <!-- Aqui será inserido o conteúdo da tabela -->
</div>
<!-- Botão de voltar
<div id="botao-voltar" style="display: none; position: absolute; top: 10px; right: 10px;">
    <button onclick="voltarGraficoPrincipal()">
        <i class="bi bi-arrow-left" id="icone-botao-voltar"></i> Voltar
    </button>
</div> -->
<!-- Botão de voltar -->
<div id="botao-voltar" style="display: none; margin-bottom: 10px;">
    <button onclick="voltarGraficoPrincipal()" style="border: none;">
        <i class="bi bi-arrow-left" id="icone-botao-voltar"></i> 
    </button>
</div>

<div class="chart-container">
   
        <p id="chart-title-text">Total de Pendências e Percentual por Unidade</p>
      
           <!-- <div class="legend-item">
                <span class="legend-color" style="background-color: #2c0b38;"></span>
                <span>Total de Pendência / Quantidade</span>
            </div>
            -->
            <div class="legend-item">
                <span class="legend-color" style="background-color: #4682B4;"></span>
                <span>Total de Pendência / Percentual</span>
            </div>
       
   
    <div class="chart-content">
        <div id="grafico-unidades" style="height: 700px; width: 1000px;"></div>
    </div>
</div>



<script>
    let graficoPrincipal;  // Variável para armazenar o gráfico principal
let dadosGraficoPrincipal;  // Variável para armazenar os dados do gráfico principal
let layoutGraficoPrincipal;  // Variável para armazenar o layout do gráfico principal
let tamanhoGrafico;  // Variável para armazenar o tamanho do gráfico
const larguraBarra = 0.9; // Variável global para a largura da barra padrão
const larguraBarraAtivos = 0.9; // Largura da barra para o gráfico de pendências de documentos ativos
const deslocamento = 0.0; // Deslocamento para evitar sobreposição

// Função para buscar os dados da view e criar o gráfico
function carregarDadosEConstruirGrafico(url) {
    fetch(url)
        .then(response => response.json())
        .then(data => {
            const unidades = data.map(item => item.unidade);
            const percentuaisPendencias = data.map(item => item.percentual_pendencias.replace('%', ''));

            tamanhoGrafico = unidades.length * (larguraBarra + 0.3);

            const tracePercentuais = {
                x: unidades.map((unidade, index) => index + deslocamento), // Adiciona deslocamento
                y: percentuaisPendencias,
                type: 'bar',
                name: 'Percentual de Pendências',
                marker: {
                    color: '#4682B4'
                },
                text: percentuaisPendencias.map((value, index) => `${value}%`),
                textposition: 'outside',
                textfont: {
                    color: '#000'
                },
                width: larguraBarra,
                customdata: data,
                hoverinfo: 'none'  // Remove os valores de quantidade no hover
            };

            const layout = {
                title: `Percentual de Pendências por Unidade`,
                xaxis: {
                    title: 'Unidade',
                    tickvals: unidades.map((unidade, index) => index),
                    ticktext: unidades,
                    showgrid: true,  // Exibir linhas do grid no eixo x
                    zeroline: false,  // Exibir linha zero no eixo x
                    showline: true,  // Exibir linha no eixo x
                    mirror: 'ticks', // Espelhar as linhas de ticks nos dois lados do eixo
                },
                yaxis: {
                    title: 'Percentual de Pendências',
                    showgrid: true,  // Exibir linhas do grid no eixo y
                    zeroline: true,  // Exibir linha zero no eixo y
                    showline: true,  // Exibir linha no eixo y
                    mirror: 'ticks', // Espelhar as linhas de ticks nos dois lados do eixo
                    range: [0, 100] // Define o alcance do eixo y até 100%
                },
                width: tamanhoGrafico * 100,
                margin: {
                    l: 100,
                    r: 100, // Ajuste a margem direita para acomodar o segundo eixo y
                    b: 150,
                    t: 80,
                    pad: 10
                },
                bargap: 0.1,
                clickmode: 'event+select',
            };

            dadosGraficoPrincipal = [tracePercentuais];
            layoutGraficoPrincipal = layout;
            graficoPrincipal = Plotly.newPlot('grafico-unidades', dadosGraficoPrincipal, layoutGraficoPrincipal);

            document.getElementById('grafico-unidades').on('plotly_click', exibirGraficoDocumentosPendentes);
        })
        .catch(error => console.error('Erro ao carregar os dados:', error));
}

function exibirGraficoDocumentosPendentes(data) {
    const indiceBarra = data.points[0].pointIndex;
    const unidadeClicada = data.points[0].data.customdata[indiceBarra].unidade;  // Obtendo a unidade correta a partir de customdata
    const dadosUnidade = data.points[0].data.customdata[indiceBarra];

    const documentosPendentes = dadosUnidade.documentos.map(doc => ({
        tipo_documento: doc.tipo_documento,
        quantidade: doc.quantidade,
        colaboradores: doc.colaboradores
    }));

    const traceDocumentos = {
        x: documentosPendentes.map(doc => doc.tipo_documento),
        y: documentosPendentes.map(doc => doc.quantidade),
        type: 'bar',
        marker: {
            color: '#4682B4',
        },
        text: documentosPendentes.map(doc => doc.quantidade),
        textposition: 'outside',
        textfont: {
            color: '#000',
        },
        width: larguraBarraAtivos,
        hoverinfo: 'none'  // Remove os valores de quantidade no hover
    };

    const layoutDocumentos = {
        title: `Total de Pendências por Documento: ${unidadeClicada}`, // Adicionando o nome da unidade ao título
        xaxis: {
            title: 'Tipo de Documento',
            showgrid: true,  // Exibir linhas do grid no eixo x
            zeroline: false,  // Exibir linha zero no eixo x
            showline: true,  // Exibir linha no eixo x
            mirror: 'ticks', // Espelhar as linhas de ticks nos dois lados do eixo
        },
        yaxis: {
            title: 'Quantidade de Pendências',
            showgrid: true,  // Exibir linhas do grid no eixo y
            zeroline: true,  // Exibir linha zero no eixo y
            showline: true,  // Exibir linha no eixo y
            mirror: 'ticks', // Espelhar as linhas de ticks nos dois lados do eixo
            range: [0, 100] // Define o alcance do eixo y até 100%
        },
        width: tamanhoGrafico * 20,
        margin: {
            l: 100,
            r: 20,
            b: 150,
            t: 80,
            pad: 10
        },
        bargap: 0.1,
    };

    Plotly.newPlot('grafico-unidades', [traceDocumentos], layoutDocumentos);
    document.getElementById('botao-voltar').style.display = 'block';  // Exibir o botão de voltar

    // Exibir detalhes de colaboradores ao clicar no gráfico de tipo de documento
    document.getElementById('grafico-unidades').on('plotly_click', function(dataDoc) {
        if (dataDoc.points[0].data.type === 'bar') {
            const idxDoc = dataDoc.points[0].pointIndex;
            const docClicado = documentosPendentes[idxDoc];

            // Criar e exibir a tabela de colaboradores com documentos pendentes
            const tabelaColaboradores = document.getElementById('tabela-colaboradores');
            tabelaColaboradores.innerHTML = `<div style="background: #4682B4; color: white; padding: 10px; border-top-left-radius: 8px; border-top-right-radius: 8px;">
                <span style="font-size: 1.5em;">Detalhes: ${unidadeClicada}</span>
                <button onclick="fecharTabelaColaboradores()" style="float: right; background: none; border: none; color: white; font-size: 1.2em;">X</button>
            </div>`;
            
            let tabelaHTML = `<table border="1" style="width: 100%; text-align: left; margin-top: 20px;">
                <tr>
                    <th>Regional</th>
                    <th>Unidade</th>
                    <th>Cargo</th>
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <th>CPF</th>
                    <th>Nome do Documento Pendente</th>
                    <th>Admissão</th>
                    <th>Ver Dossiê</th> <!-- Nova coluna -->
                </tr>`;

            docClicado.colaboradores.forEach(colab => {
                tabelaHTML += `<tr>
                    <td>${colab.regional}</td>
                    <td>${colab.unidade}</td>
                    <td>${colab.cargo}</td>
                    <td>${colab.nome}</td>
                    <td>${colab.matricula}</td>
                    <td>${colab.cpf}</td>
                    <td>${docClicado.tipo_documento}</td>
                    <td>${colab.admissao}</td>
                    <td><i class="bi bi-search" style="cursor: pointer;" onclick="redirecionarParaDossie('${colab.regional}', '${colab.unidade}', '${colab.cargo}', '${colab.nome}', '${colab.matricula}', '${colab.cpf}', '${docClicado.tipo_documento}', '${colab.admissao}')"></i></td> <!-- Ícone de ver dossiê -->
                </tr>`;
            });
            tabelaHTML += `</table>`;

            tabelaColaboradores.innerHTML += tabelaHTML;
            tabelaColaboradores.style.display = 'block';  // Mostrar a tabela
            document.getElementById('overlay').style.display = 'block';  // Mostrar o overlay
        }
    });
}

// Função para redirecionar para a página do dossiê
function redirecionarParaDossie(regional, unidade, cargo, nome, matricula, cpf, tipoDocumento, admissao) {
    const situacao = "Ativo"; // Defina a situação conforme necessário
    const parametrosURL = `situacao=${situacao}&matricula=${matricula}&cpf=${cpf}&colaborador=${nome}&admissao=${admissao}&regional=${regional}&unidade=${unidade}&cargo=${cargo}`;
    const urlDossie = `{% url 'dados_pessoais' %}?${parametrosURL}`;
    window.location.href = urlDossie;
}

function exibirGraficosAtivos() {
    document.getElementById('aso-title').innerText = 'ASO Periódico';
    
    $.ajax({
        url: "{% url 'aso_percentual_ativo' %}",  // URL da view para percentuais ativos
        type: 'GET',
        success: function(data) {
            // Assume que 'data' é um objeto JSON no formato {'Existente': '2%', 'Pendente': '98%'}
            $('#valorexistente').text(data.Existente);
            $('#valorpendente').text(data.Pendente);
        },
        error: function() {
            console.log('Erro ao carregar os dados para ativos');
        }
    });

    $.ajax({
        url: "{% url 'documentos_obrigatorios_ativos' %}",  // URL da view para percentuais ativos
        type: 'GET',
        success: function(data) {
            // Assume que 'data' é um objeto JSON no formato {'Existente': '2%', 'Pendente': '98%'}
            $('#valorexistenteObrigatorios').text(data.Existente);
            $('#valorpendenteObrigatorios').text(data.Pendente);
        },
        error: function() {
            console.log('Erro ao carregar os dados para ativos');
        }
    });

    $.ajax({
        url: "{% url 'documentos_ponto_ativos' %}",  // URL da view para percentuais ativos
        type: 'GET',
        success: function(data) {
            // Assume que 'data' é um objeto JSON no formato {'Existente': '2%', 'Pendente': '98%'}
            $('#valorexistentePonto').text(data.Existente);
            $('#valorpendentePonto').text(data.Pendente);
        },
        error: function() {
            console.log('Erro ao carregar os dados para ativos');
        }
    });
    carregarDadosEConstruirGrafico("{% url 'obrigatorios_por_unidade' %}");
}

function exibirGraficosInativos() {
    document.getElementById('aso-title').innerText = 'ASO Periódico';
    $.ajax({
        url: "{% url 'aso_percentual_inativo' %}",  // URL da view para percentuais inativos
        type: 'GET',
        success: function(data) {
            // Assume que 'data' é um objeto JSON no formato {'Existente': '2%', 'Pendente': '98%'}
            $('#valorexistente').text(data.Existente);
            $('#valorpendente').text(data.Pendente);
        },
        error: function() {
            console.log('Erro ao carregar os dados para inativos');
        }
    });


    $.ajax({
        url: "{% url 'documentos_obrigatorios_inativos' %}",  // URL da view para percentuais inativos
        type: 'GET',
        success: function(data) {
            // Assume que 'data' é um objeto JSON no formato {'Existente': '2%', 'Pendente': '98%'}
            $('#valorexistenteObrigatorios').text(data.Existente);
            $('#valorpendenteObrigatorios').text(data.Pendente);
        },
        error: function() {
            console.log('Erro ao carregar os dados para inativos');
        }
    });

    $.ajax({
        url: "{% url 'documentos_ponto_inativos' %}",  // URL da view para percentuais ativos
        type: 'GET',
        success: function(data) {
            // Assume que 'data' é um objeto JSON no formato {'Existente': '2%', 'Pendente': '98%'}
            $('#valorexistentePonto').text(data.Existente);
            $('#valorpendentePonto').text(data.Pendente);
        },
        error: function() {
            console.log('Erro ao carregar os dados para ativos');
        }
    });
    // Chama a função para carregar os dados, mas não constrói o gráfico ainda
    carregarDadosEConstruirGrafico("{% url 'obrigatorios_inativos_unid' %}");

    // Adiciona um ouvinte de evento ao botão para construir o gráfico quando clicado
    document.getElementById('total-inativos').addEventListener('click', function() {
        // Verifica se os dados foram carregados
        if (dadosGraficoPrincipal && layoutGraficoPrincipal) {
            // Constrói o gráfico apenas se os dados estiverem disponíveis
            graficoPrincipal = Plotly.newPlot('grafico-unidades', dadosGraficoPrincipal, layoutGraficoPrincipal);
        } else {
            console.error('Os dados do gráfico não foram carregados ainda.');
        }
    });
}

function voltarGraficoPrincipal() {
    Plotly.newPlot('grafico-unidades', dadosGraficoPrincipal, layoutGraficoPrincipal).then(() => {
        document.getElementById('botao-voltar').style.display = 'none';
        document.getElementById('tabela-colaboradores').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';

        // Reconfigurar o evento de clique no gráfico principal
        document.getElementById('grafico-unidades').on('plotly_click', exibirGraficoDocumentosPendentes);
    });
}

// Função para fechar a tabela de colaboradores
function fecharTabelaColaboradores() {
    const tabelaColaboradores = document.getElementById('tabela-colaboradores');
    tabelaColaboradores.style.display = 'none';
    tabelaColaboradores.innerHTML = '';  // Limpar o conteúdo da tabela
    document.getElementById('overlay').style.display = 'none';
}

window.onload = function() {
    exibirGraficosAtivos();
    buscarValoresAtivosEInativos();
};

</script>
    








<script>
// Função para buscar os valores de ativos e inativos na view
function buscarValoresAtivosEInativos() {
    fetch("{% url 'total_colaboradores' %}")
        .then(response => response.json())
        .then(data => {
            const totalAtivos = data.total_ativos;
            const totalInativos = data.total_inativos;

            // Exibir os valores dentro dos botões correspondentes
            document.getElementById('total-ativos').innerText = totalAtivos;
            document.getElementById('total-inativos').innerText = totalInativos;
        })
        .catch(error => console.error('Erro ao buscar os valores de ativos e inativos:', error));
}


</script>





    <script src='{% static "bootstrap/js/src/dashboard.js" %}'></script>

</body>

    {% endblock %}