
{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href='{% static "\bootstrap\css\dossie.css" %}'>
{% endblock %}


{% block extra_js %}
<script src="{% static 'bootstrap/js/src/dossie.js' %}"></script>
{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<div class="form-container">
  <div class="subheader2">
      <p>DOSSIÊ</p>
  </div>
 
  <form id="PesquisaFuncionarioForm">
<div class="floating-labels-form">    
<div class="form-row">
    <select id="empresa" name="Empresa" required>
        <option value="" disabled selected hidden>Empresa</option>
    </select>
    <label for="empresa">Empresa</label>
</div>

<div class="form-row">
    <select id="Regional" name="Regional" required>
        <option value="" disabled selected hidden>Regional</option>
    </select>
    <label for="Regional">Regional</label>
</div>

<div class="form-row">
    <select id="unidade" name="unidade" required>
        <option value="" disabled selected hidden>Unidade</option>
    </select>
    <label for="unidade">Unidade</label>
</div>

<div class="form-row">
    <input type="text" id="inputNome" placeholder=" " required>
    <label for="inputNome">Digite o nome</label>
</div>

<div class="form-row">
    <input type="text" id="inputMatricula" placeholder=" " required>
    <label for="inputMatricula">Digite a matrícula</label>
</div>

<div class="form-row">
    <input type="text" id="inputCPF" placeholder=" " required>
    <label for="inputCPF">Digite o CPF</label>
</div>

<div class="form-row">
    <select id="Cargo" name="Cargo" required onchange="carregarCargos()">
        <option value="" disabled selected hidden>Cargo</option>
    </select>
    <label for="Cargo">Cargo</label>
</div>

<div class="form-row">
    <select id="situacao" name="situação" required onchange="carregarSituacoes()">
        <option value="" disabled selected hidden>Situação</option>
    </select>
    <label for="situação">Situação</label>
</div>

<div class="form-row">
    <input type="date" id="admissao" name="admissao" placeholder=" " required>
    <label for="admissao">Admissão</label>
</div>

<div class="form-row">
    <input type="date" id="desligamento" name="desligamento" placeholder=" " required>
    <label for="desligamento">Desligamento</label>
</div>


<div class="form-row button-row">
<!-- Adicione um id ao botão Pesquisar -->
<button id="pesquisar" type="button">Pesquisar</button>

</div>
</div>
</form>
</div>

<div class="overlay" id="overlay"></div>
<div id="sidebar" class="sidebar">
    <span class="close-btn" onclick="closeSidebar()">&times;</span>

<div class="table-container">
  <div class="subheader3">
    <p>DOSSIÊ</p>
</div>
<div class="export-buttons">
  <select id="exportFormat">
      <option value="xlsx">Exportar para XLSX</option>
      <option value="csv">Exportar para CSV</option>
      <option value="pdf">Exportar para PDF</option>
  </select>
  <button onclick="authenticateDownload(document.getElementById('exportFormat').value)">
    <i class="bi bi-download"></i>
</button>
</div>

<div class="search-container">
  <input type="text" id="searchInput" placeholder="Pesquisar...">
</div>
<div class="rows-per-page">
    <select id="rowsPerPage" required onchange="changeRowsPerPage()">
        <option value="" disabled hidden>Linhas por página</option>
        <option value="8">8</option>
        <option value="10" selected>10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="40">40</option>
        <option value="100">100</option>
    </select>
    <label for="rowsPerPage">Linhas por página:</label>
</div>

    
    <table id="tabela-resultados">
      <thead>
        <tr>
          <th>Situação</th>
          <th>Matrícula</th>
          <th>CPF</th>
          <th>Colaborador</th>
          <th>Admissão</th>
          <th>Desligamento</th>
          <th>Empresa</th>
          <th>Regional</th>
          <th>Unidade</th>
          <th>Cargo</th>
          <th>Ver Dossiê</th>
        </tr>
    </thead>
        <tbody>
            <!-- Os resultados serão inseridos aqui -->
        </tbody>
    </table>
    <div id="paginacao"></div> <!-- Div para os controles de paginação -->
</div>
</div>
<div id="loader" class="loader"></div>
<script>
    function authenticateDownload(format) {
        // Aqui, você pode implementar qualquer lógica de autenticação necessária.
        switch (format) {
            case 'csv':
                exportTableToCSV('relatorio.csv');
                break;
            case 'xlsx':
                exportTableToXLSX('relatorio.xlsx');
                break;
            case 'pdf':
                exportTableToPDF('relatorio.pdf');
                break;
        }
    }
    
    function exportTableToCSV(filename) {
        var csv = [];
        var rows = document.querySelectorAll("#tabela-resultados tr");
        
        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll("td, th");
            
            for (var j = 0; j < cols.length; j++) 
                row.push('"' + cols[j].innerText + '"');
            
            csv.push(row.join(","));        
        }
    
        downloadCSV(csv.join("\n"), filename);
    }
    
    function exportTableToXLSX(filename) {
        var wb = XLSX.utils.book_new();
        var ws = XLSX.utils.table_to_sheet(document.getElementById('tabela-resultados'));
        XLSX.utils.book_append_sheet(wb, ws, "Relatorio");
    
        // Write the workbook to a file
        XLSX.writeFile(wb, filename);
    }
    
    function exportTableToPDF(filename) {
        const element = document.getElementById('tabela-resultados');
    
        html2canvas(element).then((canvas) => {
            const imgData = canvas.toDataURL('image/png');
            const pdf = new jspdf.jsPDF({
                orientation: 'landscape',
            });
            const imgProps= pdf.getImageProperties(imgData);
            const pdfWidth = pdf.internal.pageSize.getWidth();
            const pdfHeight = (imgProps.height * pdfWidth) / imgProps.width;
            pdf.addImage(imgData, 'PNG', 0, 0, pdfWidth, pdfHeight);
            pdf.save(filename);
        });
    }
    
    function downloadCSV(csv, filename) {
        var csvFile;
        var downloadLink;
    
        // CSV file
        csvFile = new Blob([csv], {type: "text/csv"});
    
        // Download link
        downloadLink = document.createElement("a");
    
        // File name
        downloadLink.download = filename;
    
        // Create a link to the file
        downloadLink.href = window.URL.createObjectURL(csvFile);
    
        // Hide download link
        downloadLink.style.display = "none";
    
        // Add the link to DOM
        document.body.appendChild(downloadLink);
    
        // Click download link
        downloadLink.click();
    
        // Remove the link from DOM
        document.body.removeChild(downloadLink);
    }
    </script>

<script>
    $(document).ready(function(){
        $("#searchInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#tabela-resultados tbody tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    </script>

<script>
    function changeRowsPerPage() {
    var numRows = $("#rowsPerPage").val(); // Obtem o número de linhas selecionado

    // Aqui você ajusta a sua tabela para mostrar apenas o número de linhas selecionadas.
    // Isso depende de como os dados estão sendo manipulados na tabela.
    // Exemplo simples de manipulação para uma tabela que já possui todas as linhas carregadas no DOM:

    $("#tabela-resultados tbody tr").hide(); // Esconde todas as linhas
    $("#tabela-resultados tbody tr").slice(0, numRows).show(); // Mostra apenas as linhas necessárias

    // Se estiver usando uma solução de paginação mais complexa ou dados vindos do servidor,
    // você pode precisar ajustar essa função para fazer uma nova requisição ao servidor
    // com o número de linhas desejadas ou reorganizar os dados no lado do cliente.
}

// Inicializando a visualização ao carregar a página
$(document).ready(function() {
    changeRowsPerPage(); // Chama a função para definir o número inicial de linhas conforme a opção 'selected'
});
</script>


<script>
    // Inicializando variáveis globais
    window.paginaAtual = 1;
    window.colaboradores = null;

    // Função para abrir o sidebar e carregar dados
    function openSidebar() {
        document.getElementById('sidebar').classList.add('open');
        document.getElementById('overlay').style.display = 'block'; // Mostra o overlay
        if (!window.colaboradores) { // Carrega dados apenas se ainda não foram carregados
            carregarDadosColaboradores();
        } else {
            paginarDados(window.colaboradores, window.paginaAtual); // Usa dados já carregados
        }
    }

    // Função para fechar o sidebar
    function closeSidebar() {
        document.getElementById('sidebar').classList.remove('open');
        document.getElementById('overlay').style.display = 'none'; // Esconde o overlay
    }

    // Carregar dados dos colaboradores
    function carregarDadosColaboradores() {
        $.ajax({
            url: '{% url "carregar_colaborador" %}',  // Substitua com a URL da sua view
            type: 'GET',
            dataType: 'json',
            success: function (dados) {
                window.colaboradores = dados; // Armazena os dados globalmente
                paginarDados(dados, 1);  // Inicia a paginação na primeira página
            },
            error: function () {
                alert('Erro ao carregar dados.');
            }
        });
    }

    // Função para filtrar os dados
    function filtrarDados(dados) {
        var empresaSelecionada = $('#empresa').val();
        var regionalSelecionada = $('#Regional').val();
        var unidadeSelecionada = $('#unidade').val();
        var nome = $('#inputNome').val().toLowerCase();
        var matricula = $('#inputMatricula').val().toLowerCase();
        var cpf = $('#inputCPF').val().toLowerCase();
        var cargoSelecionado = $('#Cargo').val();
        var situacaoSelecionada = $('#situação').val();
        var admissao = $('#admissao').val();
        var desligamento = $('#desligamento').val();

        return dados.filter(function(colaborador) {
            return (!empresaSelecionada || colaborador.empresa === empresaSelecionada) &&
                   (!regionalSelecionada || colaborador.regional === regionalSelecionada) &&
                   (!unidadeSelecionada || colaborador.unidade === unidadeSelecionada) &&
                   (!nome || colaborador.nome.toLowerCase().includes(nome)) &&
                   (!matricula || colaborador.matricula.toLowerCase().includes(matricula)) &&
                   (!cpf || colaborador.cpf.toLowerCase().includes(cpf)) &&
                   (!cargoSelecionado || colaborador.cargo === cargoSelecionado) &&
                   (!situacaoSelecionada || colaborador.situacao === situacaoSelecionada) &&
                   (!admissao || colaborador.admissao === admissao) &&
                   (!desligamento || colaborador.desligamento === desligamento);
        });
    }

    // Paginação dos dados
    function paginarDados(dados, pagina) {
        var porPagina = parseInt($('#rowsPerPage').val(), 10); // Número de registros por página
        var inicio = (pagina - 1) * porPagina;
        var fim = inicio + porPagina;
        var dadosFiltrados = filtrarDados(dados); // Aplica os filtros aos dados

        var dadosPaginados = dadosFiltrados.slice(inicio, fim);
        var tabelaBody = $('#tabela-resultados tbody');
        tabelaBody.empty(); // Limpa conteúdo existente

        dadosPaginados.forEach(function(colaborador) {
    var linha = '<tr>' +
        '<td>' + colaborador.situacao + '</td>' +
        '<td>' + colaborador.matricula + '</td>' +
        '<td>' + colaborador.cpf + '</td>' +
        '<td>' + colaborador.nome + '</td>' +
        '<td>' + colaborador.admissao + '</td>' +
        '<td>' + colaborador.desligamento + '</td>' +
        '<td>' + colaborador.empresa + '</td>' +
        '<td>' + colaborador.regional + '</td>' +
        '<td>' + colaborador.unidade + '</td>' +
        '<td>' + colaborador.cargo + '</td>' +
        '<td><button class="btn search-button" style="background-color: transparent; border: none;"><i class="bi bi-search"></i></button></td>' +
        '</tr>';
    tabelaBody.append(linha);
});

// Adicionando evento de clique aos ícones de busca
$('.search-button').click(function() {
    var rowIndex = $(this).closest('tr').index(); // Obtém o índice da linha
    var colaborador = dadosPaginados[rowIndex]; // Obtém os dados do colaborador da linha clicada

    // Construindo a URL com os parâmetros
    var url = '{% url "dados_pessoais" %}' +
        '?situacao=' + encodeURIComponent(colaborador.situacao) +
        '&matricula=' + encodeURIComponent(colaborador.matricula) +
        '&cpf=' + encodeURIComponent(colaborador.cpf) +
        '&colaborador=' + encodeURIComponent(colaborador.nome) +
        '&admissao=' + encodeURIComponent(colaborador.admissao) +
        '&desligamento=' + encodeURIComponent(colaborador.desligamento) +
        '&regional=' + encodeURIComponent(colaborador.regional) +
        '&unidade=' + encodeURIComponent(colaborador.unidade) +
        '&cargo=' + encodeURIComponent(colaborador.cargo);

    // Redirecionando para a URL com os parâmetros
    window.location.href = url;
});

      

        atualizarPaginacao(pagina, Math.ceil(dadosFiltrados.length / porPagina)); // Atualiza controles de paginação
    }

    // Atualiza controles de paginação
    function atualizarPaginacao(paginaAtual, numPaginas) {
        var paginacao = $('#paginacao');
        paginacao.empty(); // Limpa a paginação existente

       // Adiciona o botão "Anterior"
var btnAnterior = $('<button>').text('<').addClass('btn-anterior').on('click', function () {
    if (paginaAtual > 1) {
        paginarDados(window.colaboradores, paginaAtual - 1);
    }
});

        // Só adiciona se não for a primeira página
        if (paginaAtual > 1) {
            paginacao.append(btnAnterior);
        }

        // Mostra a página atual e o total de páginas
        var infoPaginas = $('<span>').text(paginaAtual + '/' + numPaginas);
        paginacao.append(infoPaginas);

       // Adiciona o botão "Próximo"
var btnProximo = $('<button>').text('>').addClass('btn-proximo').on('click', function () {
    if (paginaAtual < numPaginas) {
        paginarDados(window.colaboradores, paginaAtual + 1);
    }
});

        // Só adiciona se não for a última página
        if (paginaAtual < numPaginas) {
            paginacao.append(btnProximo);
        }
    }

    // Evento de clique no botão pesquisar para abrir o sidebar
    document.getElementById('pesquisar').addEventListener('click', openSidebar);

    // Evento de clique no overlay para fechar o sidebar
    document.getElementById('overlay').addEventListener('click', closeSidebar);

    // Atualizar a quantidade de linhas por página
    document.getElementById('rowsPerPage').addEventListener('change', function () {
        paginarDados(window.colaboradores, 1); // Recarrega na primeira página com novo limite
    });
     // Chamada para carregar os dados assim que a página for carregada
     carregarDadosColaboradores();
</script>











<div class="loader"></div>
<script>
    $(document).ready(function() {
        // Exibir a animação de carregamento
        $('.loader').show();

        $.ajax({
            url: '{% url "relatorio_colaborador_simples" %}', // URL correta para a view
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                var empresas = new Set();
                var regionais = new Set();
                var unidades = new Set();
                var cargos = new Set();
                var situacoes = new Set();

                data.forEach(function(colaborador) {
                    if (colaborador.empresa) {
                        empresas.add(colaborador.empresa);
                    }
                    if (colaborador.regional) {
                        regionais.add(colaborador.regional);
                    }
                    if (colaborador.unidade) {
                        unidades.add(colaborador.unidade);
                    }
                    if (colaborador.cargo) {
                        cargos.add(colaborador.cargo);
                    }
                    if (colaborador.situacao) {
                        situacoes.add(colaborador.situacao);
                    }
                });

                var $empresaSelect = $('#empresa');
                var $regionalSelect = $('#Regional');
                var $unidadeSelect = $('#unidade');
                var $cargoSelect = $('#Cargo');
                var $situacaoSelect = $('#situacao');

                empresas.forEach(function(empresa) {
                    $empresaSelect.append($('<option>', {
                        value: empresa,
                        text: empresa
                    }));
                });

                regionais.forEach(function(regional) {
                    $regionalSelect.append($('<option>', {
                        value: regional,
                        text: regional
                    }));
                });

                unidades.forEach(function(unidade) {
                    $unidadeSelect.append($('<option>', {
                        value: unidade,
                        text: unidade
                    }));
                });

                cargos.forEach(function(cargo) {
                    $cargoSelect.append($('<option>', {
                        value: cargo,
                        text: cargo
                    }));
                });

                situacoes.forEach(function(situacao) {
                    $situacaoSelect.append($('<option>', {
                        value: situacao,
                        text: situacao
                    }));
                });

                // Esconder a animação de carregamento após o carregamento dos dados
                $('.loader').hide();
            },
            error: function(xhr, status, error) {
                console.error("Erro ao carregar dados: " + error);
                // Em caso de erro, também é importante esconder a animação de carregamento
                $('.loader').hide();
            }
        });
    });
</script>











<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx-populate/3.14.0/xlsx-populate.min.js"></script>

{% endblock %}